body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, img, dl, dt, dd, table, th, td, blockquote, fieldset, div, strong, label, em {
	margin:0;
	padding:0;
	border:0;
}
ul, ol, li {
	list-style:none;
}
input, button {
	margin:0;
	font-size:12px;
	vertical-align:middle;
}
body {
	font-size:12px;
	font-family:arial, helvetica, sans-serif;
	text-align:center;
	margin:0 auto;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
.clearfloat {
	height:0;
	font-size:1px;
	clear:both;
	line-height:0;
}
#container {
	width:960px;
	text-align:left;
	margin:0 auto;
}
a {
	color:#333;
	text-decoration:none;
}
a:hover {
	color:#ef9b11;
	text-decoration:underline;
}
.layout_main {
	width:728px;
	margin:20px auto;
}
.content_bottom{
	margin-top:20px;
}
.content_bottom ul li {
	float: left
}
.content_bottom ul li.brand_item {
	width: 182px;
	height: 182px
}
.brand_item a {
	display: block;
	width: 168px;
	height: 169px
}
.brand_item a:hover {
	text-decoration: none
}
.brand_item a.brand_name {
	border-right: #b69d6b 1px solid;
	border-top: #b69d6b 1px solid;
	border-left: #b69d6b 1px solid;
	border-bottom: #b69d6b 1px solid
}
.brand_item a.brand_detail {
	border-right: #daa900 2px solid;
	border-top: #daa900 2px solid;
	border-left: #daa900 2px solid;
	border-bottom: #daa900 2px solid
}
.brand_item a span {
	display: block;
	margin-left: 1px;
	width: 166px;
	padding-top: 6px;
	height: 20px;
	text-align: center
}
a.brand_name span {
	color: #7f5400;
	background-color: #e0dbcd
}
a.brand_detail span {
	color: #fff;
	background-color: #8d5303
}
.header{
	width:100%;
	height:50px;
	overflow: hidden;
	zoom: 1;
}
.header .nav{
	display:table;
	margin: 0 auto;
	clear: both;
	line-height: 50px;
	font-size:20px;
}
.header ul li {
	width:50px;
	margin-left: 10px;
	float:left;
	list-style: none;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.header .selected{
	color:rgb(245, 180, 17);
}